build/
*.csv
font/
testdaten/
vendor/
font/
*.zip
*.tgz
*~
*.pdf

#dependencies.. 
HelloWorld.txt
README.txt
composer-setup.php
composer.json
composer.lock
composer.phar
fpdf.css
fpdf.php
info.htm
tfpdf.php
wget-log
